@font-face {
    font-family: "ElMessiri";
    src: url("../font/El_Messiri/static/ElMessiri-Regular.ttf") format(truetype);
    src: url("../font/El_Messiri/static/ElMessiri-Medium.ttf") format(truetype);
    src: url("../font/El_Messiri/static/ElMessiri-SemiBold.ttf") format(truetype);
    src: url("../font/El_Messiri/static/ElMessiri-Bold.ttf") format(truetype);
}

* {
    font-family: "ElMessiri";
    color:dimgrey;
    margin: 0;
}

body {
    background-color: #B7C0B8;
    min-height: 100vh;
}

nav {
    text-align: center;
    margin-top: 40px;
}

nav a {
    text-decoration: none;
    font-size: 30px;
    padding: 20px 20px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.logo {
    position: absolute;
    top: 10px;
}

label {
    text-align: end;
    font-size: 40px;
    display: none;
    color: dimgray;
}

#toggle {
    display: none;
}

.top {
    background-image: url(../images/drew-dizzy-graham-cTKGZJTMJQU-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    min-height: 80vh;
    margin: 50px 0px 80px 0px;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    width: 50%;
    height: 600px;
    background: url(../images/header.jpg) no-repeat center / cover;
    border-radius: 10px;
}

.right h1,
.right p,
.right a,
.content {
    background-color: #F2E9E3;
    color: dimgray;
}

.right {
    width: 40%;
    min-height: 400px;
    background-color:#F2E9E3;;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 10px;
    color: dimgray;
    margin-left: -50px;
    box-shadow:
        6.7px 6.7px 5.7px rgba(0, 0, 0, 0.028),
        22.3px 22.3px 19.2px rgba(0, 0, 0, 0.042),
        100px 100px 86px rgba(0, 0, 0, 0.07);
}

.right h1 {
    font-size: 25px;
}

.right p {
    margin: 20px 0;
    font-size: 20px;
    line-height: 25px
}

.right a {
    text-decoration: none;
    text-transform: uppercase;
    background-color: #F2E9E3;
    color: dimgray;
    display: inline-block;
    letter-spacing: 2px;
    font-weight: bold;
    margin-top: 30px;
    cursor: pointer;
}

.right a:hover {
    text-decoration: underline;
}

.content {
    padding: 40px;
}

.text-line h2 {
    text-align: center;
    font-size: 20px;
    padding: 30px;
    color: dimgray;
    background-color: #F2E9E3;
    margin-top: 50px;
}


/* Carousel */

.recent-posts {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px 0;
}

.latest-post img {
    width: 300px;
    padding: 20px;
}

.latest-post a {
    text-decoration: none;
}

.latest-post h1 {
    font-size: 20px;
    max-width: 300px;
    text-align: center;
}

.latest-post {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 0 auto;
}

button.arrow {
    border: none;
    background-color: #B7C0B8;
}

.material-icons-outlined {
    font-weight: bold;
    font-size: 40px;
    background-color: #B7C0B8;
}


/* Footer */

footer {
    position: sticky;
    top: 100%;
    background-color: #A39F9A;
    min-height: 200px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 30px;
}

li a {
    font-family: "ElMessiri";
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin: 30px;
}

li a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.copyright {
    font-family: "ElMessiri";
    color: white;
    font-size: 15px;
    text-align: center;
    margin: 20px;
}